<br>
<h2>Welcome, {{name}}, this is you dashboard</h2>

<h3>Your email: {{email}}</h3>

<hr>

<h4> Soon we will improve with the update profile and more, until there check all blogPost</h4>


<div class="justify-content-center">
    <a href="/"><i class="fa-sharp fa-solid  btn btn-primary btn-block"> Go to back to home page</i></a>
</div>


<br>
<p>or</p>

<div class="justify-content-center">
    <a href="/blogPost/index"><i class="fa-sharp fa-solid fa-tv fa-beat  btn btn-primary btn-block"> Ckeck all BlogPost
            here</i></a>
</div>  