<br>
<h2>Welcome, {{name}}, this is you dashboard</h2>

<h3>Your email: {{email}}</h3>

<hr>

{{#if adm}}

<h2>You are an adm, go to the adm Dash board</h2>
<a href="/adm/dashboard"><i class="fa-sharp fa-solid  btn btn-success btn-block m-2"> Adm dashboard</i></a>

{{/if}}

<h4> Soon we will improve with the update profile and more, until there check all blogPost</h4>


<div class="justify-content-center">
    <a href="/"><i class="fa-sharp fa-solid  btn btn-primary btn-block m-2"> Go to back to home page</i></a>
</div>


<br>
<p>or</p>

<div class="justify-content-center">
    <a href="/blogPost/index"><i class="fa-sharp fa-solid fa-tv fa-beat  btn btn-primary btn-block m-2"> Ckeck all BlogPost
            here</i></a>
</div>  