


<div class="card m-5 p-3 text-center" style= "width: 18rem;"> 
  <div class="card-tile center">
    <h3> <i class="fa-sharp fa-solid fa-tv fa-beat"></i> Anime Blog Login</h3>
  </div>

  <p class="card-text">Join our Anime Community</p>

  <!-- divider in boostrap is <hr>-->
  <hr>

  <a href="/auth/google" class="btn btn-outline-danger">
    <i class="fab fa-google left"></i>
    Login with google
  </a>

</div>

<form action="/signup" method="post">
    <div class="form-group">
     <label>Email</label>
     <input type="text" class="form-control" name="email">
    </div>
    
    <div class="form-group">
     <label>Name</label>
     <input type="text" class="form-control" name="name">
    </div> 
    
    <div class="form-group">
     <label>Password</label>
     <input type="text" class="form-control" name="password">
    </div>

    <button type="submit" class="btn btn-outline-danger">Register</button>
   </form>