<div class="d-lg-flex justify-content-center">
<div class="card m-5 p-3 text-center" style="width: 18rem;">
  <div class="card-tile center">
    <h3> <i class="fa-sharp fa-solid fa-tv fa-beat"></i> Anime Blog Login</h3>
  </div>

  <p class="card-text">Join our Anime Community</p>

  <!-- divider in boostrap is <hr>-->
  <hr>
  {{!-- {{> messages}} --}}
    <form action="/users/login" method="POST">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
      </div>
      <br>
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <p class="lead mt-4">
      No Account? <a href="/users/register">Register</a>
    </p>
</div>
</div>