
<h3> <i class="fa-sharp fa-solid fa-tv fa-beat"></i> Anime Blog Login</h3>



<div class="section">
  <p class="lead">Join our Anime Community</p>
</div>
<div class="divider"></div>
<div class="section"> 
  <a href="/auth/google" class="btn btn-outline-danger">
    <i class="fab fa-google left"></i>
    Login with google
  </a>
</div>