body {
  font-family: 'Helvetica Neue', Helvetica, 'Times NewRoman', Arial;
  padding: none;
  margin: 0 auto;
  color: white;
  background-color: #528aae;
}

p {
  color: red;
}


.img-small {
  width: 28rem !important;
}

.about-us {
  font-size: 25px !important;
}